/*=====IMPORTATION DES VARIABLES=====*/
@import url("../utils/variables.css");

/*=====RESET CSS=====*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/*=====DESKTOP=====*/
/* HEADER */

/* MAIN */
/* SECTION DESCRIPTION MY MOOD */

/*=====TABLET=====*/
@media (max-width: 768px) {
}

/*=====SMARTPHONE=====*/
@media (max-width: 425px) {
    header {
        background-color: var(--primary-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 77px;
    }
    header > img {
        width: 90px;
        object-fit: cover;
        margin-left: 10px;
        margin-top: -5px;
    }
    .header_button {
        width: 115px;
        height: 35px;
        border-radius: 4px;
        background: var(--tertiary-color);
        border: none;
        color: var(--secondary-color);
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        margin-right: 10px;
    }
    .section_description_mymood {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 9px 17px 0 17px;
    }
    .section_description_mymood p {
        font-family: "Roboto", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
    }
    .section_humeur_mymood {
        margin-top: 19px;
    }
    .humeur_container_appel {
    }
    .humeur_appel {
    }
    .humeur_appel > span {
        
    }
    .humeur_container_slide_text {
    }
    .humeur_container_slide_text p {
    }
    .humeur_slider_container {
        transform: rotate(270deg);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eff2f7;
        width: 330px;
        height: 50px;
        border-radius: 50px;
    }
    .slider {
        width: 300px;
        height: 10px;
        appearance: none;
        background: linear-gradient(to right, #00ff4d, #ffd25e, #ff0000);
        border-radius: 50px;
    }
    .slider::-moz-range-thumb {
        cursor: pointer;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        border: none;
        background: #ffffff;
        filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
    }
}
